<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <title>{{= config.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{= config.title }}">
    <meta name="author" content="Victor Petrov">

    <!-- Le styles -->
    <link href="{{=config.prefix}}js/{{=config.lib.bootstrap}}/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{{=config.prefix}}js/{{=config.lib.bootstrap}}/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <link href="{{=config.prefix}}css/main.css" rel="stylesheet">
    <link href="{{=config.prefix}}css/ribbon.css" rel="stylesheet">
    <!--<script src="js/lib/ace/ace.js" type="text/javascript" charset="utf-8"></script>-->
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">{{= config.brand }}</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#study/create">Create</a></li>
              <li><a href="#about" onclick="return false">About</a></li>
            </ul>
          </div>
        </div>
      </div>
        <div class="github-fork-ribbon-wrapper right" style="z-index: 9999">
            <div class="github-fork-ribbon">
                <a href="#">Survana v{{=pkg.version}}/&#945;</a>
            </div>
        </div>
    </div>

<div id='content'>
    &nbsp;
</div>

<!-- client side templates -->
<script id='tpl-home' type='text/template'>
    <div class="container">
        <div class="row">
            <div class="span7" id="main-content">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#home-study-list" data-toggle="tab">Studies</a>
                    </li>
                    <li>
                        <a href="#home-form-list" data-toggle="tab">Forms</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="home-study-list">
                    </div>
                    <div class="tab-pane" id="home-form-list">
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script id='tpl-welcome' type='text/template'>
    <div>
        You must be new here.
    </div>
</script>

<script id='tpl-form-create' type='text/template'>
    <div class="container">
        <!-- left menu -->
        <div class="row">

            <!-- sidebar -->
            <div id='sidebar' class="span2">
                <div class="sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header">Create</li>
                        <li><a href="#study/create">Study</a></li>
                        <li class="active"><a href="#create-form">Questionnaire</a></li>
                    </ul>
                </div>

                <div class="spacer">&nbsp;</div>

                <div class="sidebar-nav sidebar-form-groups"></div>
            </div>

            <!-- main container -->
            <div class="span6">
                <div class="container">
                    <div class="row span6" id="messages"></div>
                    <div class="row span6">
                        <div class="page-header">
                            <h2>Create Questionnaire
                                <small>// expert mode</small>
                            </h2>
                        </div>
                        <form id='create-form' class="form-vertical" onsubmit="return false">
                          <fieldset>
                            <div class="control-group">
                              <label class="control-label" for="form-title">Name</label>
                              <div class="controls">
                                  <input type="text" class="span3" id="form-title" name="title" rel="tooltip" title="Use one or two words">
                              </div>
                              <label class="control-label" for="form-code">Code</label>
                              <div class="controls">
                                  <input type="text" class="span1" id="form-code" name="code" rel="tooltip" title="All response codes will have this prefix">
                                  e.g. <code>DEM</code>, <code>EH</code>, <code>LIFE</code>
                              </div>
                              <label class="control-label" for="form-version">Version</label>
                              <div class="controls">
                                  <input type="text" class="span1" id="form-version" name="version" value="1.0" rel="tooltip" title="The version number is used to keep track of future changes to this questionnaire">
                                  e.g. <code>0.1</code>, <code>first</code>
                              </div>
                            </div>
                          </fieldset>

                          <fieldset>
                          <legend>JSON: <small>// mustache syntax</small></legend>
                            <div id="code-editor-container">&nbsp;</div>
                          </fieldset>
                          <hr>
                          <input type="submit" class="btn btn-primary">
                          <input type="reset" value="Clear" class="btn">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script id='tpl-form-view' type='text/template'>
    <div class="container">
        <!-- left menu -->
        <div class="row">

            <!-- sidebar -->
            <div id='sidebar' class="span2">
                <div class="sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header">Menu</li>
                        <li class="active"><a href="#" onclick="return false">Details</a></li>
                    </ul>
                </div>

                <div class="spacer">&nbsp;</div>

                <div id='sidebar-form-versions' class="sidebar-nav"></div>
            </div>

            <!-- main container -->
            <div class="span6">
                <div class="container">
                    <div class="row span6" id="messages"></div>
                    <div class="row span6">
                        <div class="page-header">
                            <h2 style="display:inline"><%- title %>
                                <small>//<%- id %></small>
                            </h2>
                        </div>
                        <!-- Created -->
                        <div class="row">
                            <div class="span1">Created:</div>
                            <div class="span5"><strong><%- (new Date(created_on)).toLocaleDateString() %></strong></div>
                        </div>
                        <!-- Status -->
                        <div class="row">
                            <div class="span1">Status:</div>
                            <div class="span3">
                                <% if (published) { %>
                                <span class="label label-success" rel="tooltip"
                                      title="This form has been published">Published</span>
                                <% } else { %>
                                <span class="label" rel="tooltip"
                                      title="This form has not been published yet">Draft</span>
                                <% } %>
                            </div>
                        </div>
                        <!-- Version -->
                        <div class="row">
                            <div class="span1"><div style="margin-top:10px;">Version:</div></div>
                            <div class="span5">
                                <ul class="nav nav-pills">
                                    <li class="dropdown">
                                        <a class=" dropdown-toggle" data-toggle="dropdown" href="#">
                                            <span class="label label-warning"><%- version %></span>
                                            <b class="caret"></b>
                                        </a>
                                        <ul class='form-versions'></ul>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <% if (data) { %>
                            <div class="row">
                                <div class="span3">
                                    <button class="btn btn-info btn-medium btn-form-preview" style="margin-left:5px">
                                        <i class="icon-eye-open icon-white"></i> Preview
                                    </button>
                                    <% if (published) { %>
                                    <button class="btn btn-warning btn-medium btn-form-fork">
                                        <i class="icon-random icon-white"></i> Fork
                                    </button>
                                    <% } else { %>
                                    <a class="btn btn-warning btn-medium btn-form-edit" href="#">
                                        <i class="icon-edit icon-white"></i> Edit
                                    </a>
                                    <% } %>
                                </div>
                                <div class="span3" style="text-align:right">
                                    <% if (!published) { %>
                                    <a class="btn btn-primary btn-medium btn-form-publish" href="#">
                                        <i class="icon-globe icon-white"></i> Publish
                                    </a>
                                    <% } %>
                                </div>
                            </div>
                            <hr>
                            <div id="code-viewer-container">&nbsp;</div>
                        <% } else { %>
                            <h4><i class="icon-info-sign"></i> This questionnaire is empty.</h4>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>

        <form action="/form/preview" class="preview" method="post">
            <input type="hidden" value="{}" name='form'>
        </form>
    </div>
</script>


<script id='tpl-form-edit' type='text/template'>
    <div class="container">
        <!-- left menu -->
        <div class="row">

            <!-- sidebar -->
            <div id='sidebar' class="span2">
                <div class="sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header">Menu</li>
                        <li class="active"><a href="#">Details</a></li>
                    </ul>
                </div>
            </div>

            <!-- main container -->
            <div class="span6">
                <div class="container">
                    <div class="row span6" id="messages"></div>
                    <div class="row span6">
                        <div class="page-header">
                            <h2>Edit <%=title%>
                                <small>// <%- id %></small>
                            </h2>
                        </div>
                        <form id='edit-form' class="form-vertical" onsubmit="return false">
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label" for="form-title">Name</label>
                                    <div class="controls">
                                        <input type="text" class="span3" id="form-title" name="title" rel="tooltip"
                                               title="Use one or two words" value="<%- title %>">
                                    </div>
                                    <label class="control-label" for="form-code">Code</label>
                                    <div class="controls">
                                        <input type="text" class="span1" id="form-code" name="code" rel="tooltip"
                                               title="All response codes will have this prefix"
                                               value="<%-code%>">
                                        e.g. <code>DEM</code>, <code>EH</code>, <code>LIFE</code>
                                    </div>
                                    <label class="control-label" for="form-version">Version</label>
                                    <div class="controls">
                                        <input type="text" class="span1" id="form-version" name="version"
                                               rel="tooltip" value="<%- version || '1.0' %>"
                                               title="The version number is used to keep track of future changes to this questionnaire">
                                        e.g. <code>0.1</code>, <code>first</code>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <legend>JSON
                                    <a href="https://github.com/vpetrov/survana-admin/wiki/Developer's-Guide-to-Creating-Questionnaires"
                                       target="_blank"><i class="icon-question-sign"></i></a>
                                    <small class="code-editor-message" style="float:right">
                                        <i class="icon-info-sign"></i> Press Ctrl+S or Command+S to save
                                    </small>
                                </legend>
                                <div id="code-editor-container">&nbsp;</div>
                            </fieldset>
                            <hr>
                            <button id='btn-form-edit-save' class="btn btn-success btn-medium" type='submit'>
                                <i class="icon-ok-sign icon-white"></i>
                                Save
                            </button>
                            <a id='btn-form-edit-cancel' class="btn btn-medium" href="#">
                                <i class="icon-remove-circle"></i>
                                Cancel
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <form action="/form/preview" class="preview" method="post">
            <input type="hidden" value="{}" name='form'>
        </form>
    </div>

</script>

<script id="tpl-code-editor-message" type="text/template">
    <div><i class="icon-<%- icon %>"></i> <%- message %></div>
</script>

<script id='tpl-study-create' type='text/template'>
    <div class="container">
        <!-- left menu -->
        <div class="row">

            <!-- sidebar -->
            <div id='sidebar' class="span2">
                <div class="sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header">Create</li>
                        <li class="active"><a href="#study/create">Study</a></li>
                        <li><a href="#form/create">Questionnaire</a></li>
                    </ul>
                </div>

                <div class="spacer">&nbsp;</div>

                <div class="sidebar-nav sidebar-form-groups"></div>
            </div>

            <!-- main container -->
            <div class="span6">
                <div class="container">
                    <div class="row span6" id="messages"></div>
                    <div class="row span6">
                        <div class="page-header">
                            <h2>Create Study</h2>
                        </div>
                        <form class="form-vertical">

                          <fieldset>
                              <div class="control-group">
                                  <label class="control-label" for="study-title">Title</label>
                                  <div class="controls">
                                      <input type="text" class="span4" id="study-title" name="title">
                                  </div>
                              </div>
                          </fieldset>

                          <fieldset>
                              <ul class="nav nav-tabs">
                                  <li class="active">
                                      <a href="#study-create-forms" data-toggle="tab">Forms</a>
                                  </li>
                                  <li>
                                      <a href="#study-create-options" data-toggle="tab">Options</a>
                                  </li>
                              </ul>
                              <div class="tab-content">
                                  <div class="tab-pane active" id="study-create-forms">
                                      <div class="span6 build-pad-mv study-forms-container" style="margin-left:0px"></div>
                                  </div>
                                  <div class="tab-pane" id="study-create-options">
                                      <fieldset>
                                          <div class="control-group">
                                              <label class="control-label" for="study-store-url">Store URL</label>
                                              <div class="controls">
                                                  <div class="input-prepend">
                                                      <span class="add-on"><i class="icon-globe"></i></span>
                                                      <input type="text" class="input-xlarge" id="study-store-url" name="store-url" placeholder="https://">
                                                  </div>
                                              </div>
                                          </div>
                                      </fieldset>
                                  </div>
                              </div>
                          </fieldset>

                          <input type="submit" class="btn btn-primary">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script id='tpl-study-view' type='text/template'>
    <div class="container">
        <!-- left menu -->
        <div class="row">

            <!-- sidebar -->
            <div id='sidebar' class="span2">
                <div class="sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header">Menu</li>
                        <li class="active"><a href="#" onclick="return false">Details</a></li>
                        <% if (study.publishers.length) { %>
                            <li><a href="#" onclick="return false">Responses</a></li>
                        <% } %>
                    </ul>
                </div>

                <div class="spacer">&nbsp;</div>


                <div class="sidebar-nav sidebar-form-groups"></div>
            </div>

            <!-- main container -->
            <div class="span6">
                <div class="container">
                    <div class="row span6" id="messages"></div>
                    <div class="row span6">
                        <div class="page-header">
                            <h2><%- study.title %></h2>
                        </div>
                        <div class="well">
                            <div class="row">
                                <div class="span1">ID:</div>
                                <div class="span3"><strong><%- study.id %></strong></div>
                            </div>

                            <% for (var i in study.publishers) {%>
                                <% var server=study.publishers[i], url=study.urls[server]; %>
                                <div class="row">
                                    <div class="span1">
                                        <span class="label" rel="tooltip" title="<%= server %>">
                                        <%= server %>
                                        </span>

                                    </div>
                                    <div class="span3"><a href='<%- url %>'><%- url %></a></div>
                                </div>
                            <% } %>
                        </div>

                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#<%=study.id%>-edit-forms" data-toggle="tab">Forms</a>
                            </li>
                            <li>
                                <a href="#<%=study.id%>-edit-options" data-toggle="tab">Options</a>
                            </li>

                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="<%=study.id%>-edit-forms">
                                <ol>
                                    <% for(var i = 0; i < study.forms.length; ++i) { %>
                                    <li>
                                        <strong><a href="#form/<%-study.forms[i].id%>"><%- study.forms[i].title %></a></strong>
                                        <code><%- study.forms[i].version %></code>
                                        <% var overrides = study.overrides[i] %>
                                        <% if (overrides && overrides['store-url']) { %>
                                            <a href="#" rel="tooltip" title="<%- overrides['store-url']%>"><i class="icon-globe"></i></a>
                                        <% } %>
                                    </li>
                                    <% } %>
                                </ol>
                            </div>
                            <div class="tab-pane" id="<%=study.id%>-edit-options">
                                Store URL: <%=study['store-url']%>
                            </div>
                        </div>

                        <hr>

                        <% var servers=_.difference(publishers,study.publishers); %>

                        <% if (servers.length) { %>
                            <div class="btn-group inline pull-left">
                                <button class="btn btn-primary btn-medium btn-study-publish"
                                        data-publisher="<%= servers[0] %>" data-loading-text="Publishing...">
                                    <i class="icon-globe icon-white"></i>
                                    Publish
                                </button>
                                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <% for (var i=0;i<servers.length;++i) { %>
                                        <li>
                                            <a class="btn-study-publish" href="#" data-publisher="<%= servers[i] %>">
                                                <% if (i) { %>
                                                    <%= servers[i] %>
                                                <% } else { %>
                                                    <strong><%= servers[i] %></strong> (default)
                                                <% } %>
                                            </a>
                                        </li>
                                    <% } %>
                                    <% if (servers.length>1) { %>
                                        <li class="divider"></li>
                                        <li><a class="btn-study-publish" href="#">All</a></li>
                                    <% } %>
                                </ul>
                            </div>
                        <% } %>

                        <% if (!study.publishers.length) { %>
                        <button class="btn btn-warning btn-medium btn-study-edit" style="margin-left:5px">
                            <i class="icon-edit icon-white"></i> Edit
                        </button>
                        <% } else { %>
                            <button class="btn btn-warning btn-medium btn-study-fork" style="margin-left:5px">
                                <i class="icon-random icon-white"></i> Fork
                            </button>
                        <% } %>

                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script id='tpl-study-edit' type='text/template'>
    <div class="container">
        <!-- left menu -->
        <div class="row">

            <!-- sidebar -->
            <div id='sidebar' class="span2">
                <div class="sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header">Edit</li>
                        <li class="active"><a href="#study/edit">Study</a></li>
                    </ul>
                </div>

                <div class="spacer">&nbsp;</div>

                <div class="sidebar-nav sidebar-form-groups"></div>
            </div>

            <!-- main container -->
            <div class="span6">
                <div class="container">
                    <div class="row span6" id="messages"></div>
                    <div class="row span6">
                        <div class="page-header">
                            <h2>Edit <%-study.title%></h2>
                        </div>
                        <form class="form-vertical">

                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label" for="study-title">Title</label>
                                    <div class="controls">
                                        <input type="text" class="span4" id="<%-study.id%>-edit-title" name="title" value="<%-study.title%>">
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#study-edit-forms" data-toggle="tab">Forms</a>
                                    </li>
                                    <li>
                                        <a href="#study-edit-options" data-toggle="tab">Options</a>
                                    </li>
                                </ul>
                                <div class="tab-content" style="min-height:200px">
                                    <div class="tab-pane active" id="study-edit-forms">
                                        <div class="span6 build-pad-mv study-forms-container" style="margin-left:0px"></div>
                                    </div>
                                    <div class="tab-pane" id="study-edit-options">
                                        <fieldset>
                                            <div class="control-group">
                                                <label class="control-label" for="study-store-url">Store URL</label>
                                                <div class="controls">
                                                    <div class="input-prepend">
                                                        <span class="add-on"><i class="icon-globe"></i></span>
                                                        <input type="text" class="input-xlarge"
                                                           id="<%-study.id%>-edit-store-url" name="store-url"
                                                           placeholder="https://" value="<%-study['store-url']%>">
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </fieldset>

                            <input type="submit" class="btn btn-primary" value="Save">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="tpl-study-list" type="text/template">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Created On</th>
            </tr>
        </thead>
        <tbody>
            <% var sortedItems=items.sort( function(a,b) { return b.created_on - a.created_on; } ); %>
            <% _.each(sortedItems,function(item){ %>
                <%= itemTemplate({'study':item}) %>
            <% }); %>
        </tbody>
    </table>
</script>


<script id="tpl-study-list-item" type="text/template">
    <tr>
        <td>
            <a href="#study/<%- study.id %>">
                <%- study.title %>
            </a>
        <td>
            <% if (study.publishers.length) { %>
                <span class="label label-success" rel="tooltip" title="This study has been published" >Published</span>
            <% } else { %>
                <span class="label" rel="tooltip" title="This study has not been published yet">Draft</span>
            <% } %>
        </td>
        <td>
            <%- (new Date(study.created_on)).toLocaleDateString() %>
        </td>
    </tr>
</script>


<script id="tpl-form-list-table" type="text/template">
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <% _.each(items,function(group,gid){ %>
        <%= itemTemplate({
                'form': group[group.length-1],
                'publishInfo': publishInfo[gid]
            }) %>
        <% }); %>
        </tbody>
    </table>
</script>

<script id="tpl-form-list-table-item" type="text/template">
    <tr>
        <td>
            <a href="#form/<%- form.id %>">
                <%- form.title %>
            </a>
        </td>
        <td>
        <% if (publishInfo.published) { %>
            <span class="badge badge-success" rel="tooltip" title="Published" >
                <%- publishInfo.published %>
            </span>
        <% } %>

        <% if (publishInfo.drafts) { %>
            <span class="badge" rel="tooltip" title="Drafts">
                <%- publishInfo.drafts %>
            </span>
        <% } %>
        </td>
    </tr>
</script>

<!-- titles: Array -->
<script id="tpl-form-list" type="text/template">
        <ul id='form-list' class="nav nav-list">
            <li class="nav-header">Forms</li>
            <%  _.each(items,function(item){ %>
                <%= itemTemplate(_.last(item)) %>
            <% }); %>
        </ul>
</script>

<!-- title: string -->
<script id="tpl-form-list-item" type="text/template">
    <li class="draggable"><a href="#" class="build-draggable" data-form-id='<%- id %>'><%- group %></a></li>
</script>

<!-- study forms -->
<script id="tpl-study-forms" type="text/template">
    <ul class="nav nav-pills nav-stacked well sortable-list">
        <% _.each(items,function(item){ %>
            <%= itemTemplate({
                    'titleTemplate':titleTemplate,
                    'menuTemplate':menuTemplate,
                    'item':item,
                    'group':groups[item.gid],
                    'onlyPublished':onlyPublished
        }) %>
        <% }); %>
    </ul>
</script>

<script id="tpl-study-forms-item" type="text/template">
    <li class="active dropdown">
        <%= titleTemplate(item) %>
        <%= menuTemplate({
                'item':item,
                'group':group,
                'options':true,
                'onlyPublished':onlyPublished
        }) %>
    </li>
</script>

<script id="tpl-study-forms-title" type="text/template">
    <a data-toggle="dropdown" class="dropdown dropdown-toggle">
        <%- title %>
        <span class="label label-warning"><%- version %></span>
        <b class="caret"></b>
    </a>
</script>

<script id="tpl-form-version-menu" type="text/template">
    <ul class="dropdown-menu">
        <!-- break -->
        <!-- <li><span style="border-top:1px solid lightgray;display:block"></span></li> -->
        <% for (var i=0; i<group.length; ++i) { %>
        <% if (onlyPublished && !group[i].published) continue; %>
        <li>
            <a href="#" data-form-id='<%- group[i].id %>' data-form-version="<%- group[i].version %>">
                <%- group[i].title %>
                <span class="label label-warning"><%- group[i].version %></span>
            </a>
        </li>
        <% } %>
        <% if (typeof(options)!=='undefined') { %>
        <li class="divider"></li>
        <li>
            <a href="#" class="form-menu-options"><i class="icon-edit"></i> Options</a>
        </li>
        <% } %>
    </ul>
</script>

<script id="tpl-form-options" type="text/template">
    <form>
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="form-options-store-url">Store URL</label>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-globe"></i></span>
                        <input type="text" class="input-xlarge" id="form-options-store-url" name="store-url"
                               placeholder="https://" value="<%- (options)?options['store-url']:'' %>">
                    </div>
                </div>
            </div>
        </fieldset>
        <input type="hidden" value="<%- index %>" name="_index">
    </form>
</script>

<script id="tpl-publishers-menu" type="text/template">
    <ul class="dropdown-menu">
        <% for (var i=0; i<group.length; ++i) { %>
        <li>
            <a href="#">
                <%- group[i].name %>
            </a>
        </li>
        <% } %>
    </ul>
</script>

<script id="tpl-alert" type="text/template">
    <div class="alert">
        <button class="close" data-dismiss="alert">×</button>
        <span class="alert-message"><%- message %></span>
    </div>
</script>

<script id='tpl-modal-alert' type="text/template">
    <div class="modal hide">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3><%- title %></h3>
      </div>
      <div class="modal-body">
        <p><%= message %></p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
      </div>
    </div>
</script>

<script id="tpl-modal-form" type="text/template">
    <div class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3><%- title %></h3>
        </div>
        <div class="modal-body">
            <%= form %>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary modal-form-save">Save</button>
        </div>
    </div>
</script>

<script id="store-forms" type="text/store">
    {{- JSON.stringify(forms) }}
</script>

<script id="store-studies" type="text/store">
    {{- JSON.stringify(studies) }}
</script>

<script id="store-publishers" type="text/store">
    {{- JSON.stringify(publishers) }}
</script>


<script data-main="{{=config.prefix}}js/app" src="{{=config.prefix}}js/{{=config.lib.require}}/require.js"></script>
<script type="text/javascript">
    //configure RequireJS
    requirejs.config({
        //url to all javascript files
        baseUrl:    "{{= config.prefix }}js",
        //print all the dependencies, in a way that requirejs can reach them
        paths:  {{- JSON.stringify(config.to_requirejs()) }},
        //specify that backbone depends on jquery and returns a global 'Backbone' object
        shim:{
            'backbone':{
                deps:['underscore','jquery'],
                exports:'Backbone'
            }
        }
    });
</script>

  <div style="margin-top:100px;height:50px">
 &nbsp;
  </div>
</body>
</html>
